/*==============================VARS==============================*/
$bgcolor-accent: #12110F;
$bgcolor-element: #171614;

$main-color: #CA9969;
$main-color-dark: #B66E28;

$money: #0cbe54;
$prof: #1f8efa;
$health: #eb5a46;
$self: #fc9228;