/*==============================VARS==============================*/
$area-1: #0cbe54;
$area-2: #1f8efa;
$area-3: #eb5a46;
$area-4: #0cbe54;
$area-5: #fc9228;
$area-6: #EC3BFC;
$area-7: #959595;
$area-10: #cccccc;

$bgcolor-accent: #12110F;
$bgcolor-element: #171614;

$main-color: #CA9969;
$main-color-dark: #B66E28;

$money: #0cbe54;
$prof: #1f8efa;
$health: #eb5a46;
$self: #fc9228;